
$color-dark: #000;
$color-light: #fff;
$color-yellow: #E6C744;
$color-grey:  #C2C8DA;






section {
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
  overflow-x: hidden;
}
